## Import necessary libraries

In [1]:
import numpy as np
import pandas as pd
import json
import re

# tokenize promo voucher
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

## Checking Tables and datatypes

In [2]:
resData = pd.read_csv('./Datasets/Grab SG Restaurants.csv')
resData.head()

pd.set_option('display.max_columns', 50)

In [3]:
print(resData.dtypes)

id_source            object
name                 object
address              object
country              object
cuisine              object
currency             object
delivery_cost       float64
lat                 float64
lon                 float64
opening_hours        object
image_url            object
radius                int64
rating              float64
reviews_nr          float64
delivery_options     object
promo                object
loc_type             object
delivery_by          object
delivery_time       float64
dtype: object

## Remove unwanted columns

In [4]:
resData.drop(columns=['id_source', 'country', 'currency' ,'image_url'], inplace=True)

## Calculating total opening hours

In [5]:
jsonOpeningHours = resData['opening_hours']

def calculate_total_opening_time(opening_hours_json):
    # Load the JSON string into a dictionary
    opening_hours_dict = json.loads(opening_hours_json)
    
    opening_hours = [hours for day, hours in opening_hours_dict.items() if day not in ['open', 'displayedHours']]
    
    total_opening_time = sum(
        (int(closing_time[:2]) - int(opening_time[:2])) + (int(closing_time[3:]) - int(opening_time[3:])) / 60
        for hours in opening_hours if isinstance(hours, str) and hours != "Closed"
        for opening_time, closing_time in re.findall(r'(\d{2}:\d{2})-(\d{2}:\d{2})', hours)
    )
    
    return total_opening_time

resData['total opening time hours'] = jsonOpeningHours.apply(calculate_total_opening_time)

In [6]:
resData.head()

,name,address,cuisine,delivery_cost,lat,lon,opening_hours,radius,rating,reviews_nr,delivery_options,promo,loc_type,delivery_by,delivery_time,total opening time hours
0,Texas Chicken,Texas Chicken - VivoCity,"[""Western"", ""Fast Food"", ""Halal"", ""Chicken"", ""...",570.0,1.264792,103.822103,"{""open"": true, ""displayedHours"": ""10:30-21:30""...",5000,3.8,1591.0,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,43.0,75.75
1,Subway,Subway - Vivocity,"[""Healthy"", ""Sandwiches"", ""Fast Food"", ""Halal""...",570.0,1.264741,103.822072,"{""open"": true, ""displayedHours"": ""12:00-19:00""...",3000,4.2,197.0,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,42.0,49.00
2,LiHO Tea,LiHO Tea - Vivo City,"[""Same Prices In-Store"", ""Beverages"", ""Local"",...",560.0,1.264309,103.821369,"{""open"": true, ""displayedHours"": ""11:30-20:45""...",5000,4.5,353.0,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,41.0,64.75
3,Wingstop,Wingstop - VivoCity,"[""Halal"", ""Chicken"", ""Fast Food"", ""Burger"", ""W...",560.0,1.263527,103.821712,"{""open"": true, ""displayedHours"": ""11:00-21:00""...",5000,4.4,1391.0,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,45.0,70.00
4,Le Shrimp Ramen,Le Shrimp Ramen - Vivocity,"[""Japanese"", ""Ramen"", ""Noodles"", ""Asian""]",570.0,1.264810,103.822554,"{""open"": true, ""displayedHours"": ""10:30-21:00""...",5000,4.6,309.0,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,44.0,73.50

## Calculate weighted_ratings

In [7]:
print(resData.columns)


initial_row_count = len(resData)
resData = resData[(resData['rating'] >= 0) & (resData['rating'] <= 5)]
final_row_count = len(resData)

print(f"Initial row count: {initial_row_count}")
print(f"Final row count: {final_row_count}")

Index(['name', 'address', 'cuisine', 'delivery_cost', 'lat', 'lon',
       'opening_hours', 'radius', 'rating', 'reviews_nr', 'delivery_options',
       'promo', 'loc_type', 'delivery_by', 'delivery_time',
       'total opening time hours'],
      dtype='object')
Initial row count: 16136
Final row count: 13987

In [10]:
review_stats = resData['reviews_nr'].describe()
mean_rating = resData['rating'].mean()

review_stats, mean_rating

(count    13602.000000
 mean       343.591604
 std        846.893054
 min          1.000000
 25%         16.000000
 50%         74.000000
 75%        303.000000
 max      21113.000000
 Name: reviews_nr, dtype: float64,
 4.2447129477371845)

In [12]:
# Set the value of m based on the 75th percentile of reviews
m = review_stats['75%']

# Calculate the weighted rating
resData['weighted_rating'] = ((resData['reviews_nr'] / (resData['reviews_nr'] + m)) * resData['rating']) + \
                          ((m / (resData['reviews_nr'] + m)) * mean_rating)

# Show the updated dataframe with the new 'weighted_rating' column
resData[['name', 'rating', 'reviews_nr', 'weighted_rating']].head()

              name  rating  reviews_nr  weighted_rating
0    Texas Chicken     3.8      1591.0         3.871145
1           Subway     4.2       197.0         4.227096
2         LiHO Tea     4.5       353.0         4.382085
3         Wingstop     4.4      1391.0         4.372224
4  Le Shrimp Ramen     4.6       309.0         4.424098

In [13]:
resData.to_csv('./Datasets/Cleaned Grab SG Restaurants.csv', index=False)